### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [91]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [92]:
## Player Count

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

* Display the total number of players

In [93]:
# Remove duplicate Players and create unique players list
unique_player = purchase_data.loc[:, ["SN", "Age", "Gender"]]
unique_player = unique_player.drop_duplicates()

In [94]:
number_of_players = len(unique_player)
player_count = pd.DataFrame({"Total Players": [number_of_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [95]:
unique_items = len(purchase_data["Item ID"].unique())           ## Get the unique count of Items
average_price = purchase_data["Price"].mean()                   ## Average price 
number_of_purchases = purchase_data["Purchase ID"].count()      ## Count the number of purchases
total_revenue = purchase_data["Price"].sum()                    ## Total Sum of the Purchases

## Purchasing Analysis
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                               "Average Price": [average_price],
                               "Number of Purchases": [number_of_purchases],
                               "Total Revenue": total_revenue })
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:,.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:,.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [96]:
#Group by gender
gender_summary = unique_player.groupby(['Gender'])

In [97]:

gender_count = unique_player["Gender"].value_counts()       # Count of Male, Female, & Other/ Non-Disclosed
gender_percentage = gender_count/number_of_players*100         # Percentages
## Gender Demographics summary

In [12]:
gender_summary = pd.DataFrame({"Total Count":gender_count,
                                "Percentage of Players":gender_percentage})
gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].map("{:.2f}%".format)

gender_summary

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [98]:
gender_purchase_count = purchase_data.groupby("Gender").count()["Price"]                # Purchase count by gender
gender_average_purchase_price = purchase_data.groupby("Gender").mean()["Price"]         # Avg per gender    
gender_total_purchase_value = purchase_data.groupby("Gender").sum()["Price"]            # Total per gender
gender_avg_person = gender_total_purchase_value/gender_count                            # Total per person
## gender_purchasing_analysis Summary Table

gender_purchasing_summary = pd.DataFrame({"Purchase Count": gender_purchase_count,
                                           "Average Purchase Price": gender_average_purchase_price,
                                           "Total Purchase Value": gender_total_purchase_value,
                                           "Avg. Total Purchase per Person": gender_avg_person})
gender_purchasing_summary["Average Purchase Price"] = gender_purchasing_summary["Average Purchase Price"].map("${:,.2f}".format)
gender_purchasing_summary["Total Purchase Value"] = gender_purchasing_summary["Total Purchase Value"].map("${:,.2f}".format)
gender_purchasing_summary["Avg. Total Purchase per Person"] = gender_purchasing_summary["Avg. Total Purchase per Person"].map("${:,.2f}".format)
gender_purchasing_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [99]:
bin = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999 ]                                                  # Bin with age groups
age_group = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]             # group names

unique_player["Age Ranges"] = pd.cut(unique_player["Age"], bin, labels = age_group)         # Adding group names to the unique player df


age_total_count = unique_player["Age Ranges"].value_counts()                                # number of players in age group
age_per_player = age_total_count/ number_of_players * 100

age_demographics = pd.DataFrame({"Total Count": age_total_count,
                                 "Percentage of Players":age_per_player})
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}%".format)
age_demographics.sort_index()

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [100]:
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bin, labels = age_group)         # Adding group names to the purchase data df
#purchase_data
age_purchase_count = purchase_data.groupby("Age Ranges").count()["Price"]                   # count of purchases per age group
age_avg_pur_price = purchase_data.groupby("Age Ranges").mean()["Price"]                     #  Average purchase price per age group
age_total_pur_value = purchase_data.groupby("Age Ranges").sum()["Price"]                    # Sum per age group
age_pur_person = age_total_pur_value/ age_total_count                                       # Avg per person
age_purchase_summary = pd.DataFrame({"Purchase Count": age_purchase_count,
                                      "Average Purchase Price": age_avg_pur_price,
                                      "Total Purchase Value": age_total_pur_value,
                                      "Avg Total Purchase per Person": age_pur_person})
age_purchase_summary["Average Purchase Price"] = age_purchase_summary["Average Purchase Price"].map("${:.2f}".format)
age_purchase_summary["Total Purchase Value"] = age_purchase_summary["Total Purchase Value"].map("${:.2f}".format)
age_purchase_summary["Avg Total Purchase per Person"] = age_purchase_summary["Avg Total Purchase per Person"].map("${:.2f}".format)
age_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [101]:
sn_stats = purchase_data.groupby("SN")                      # Group date by SN
sn_purchase_count = sn_stats["Purchase ID"].count()         # Count of purchases by SN
sn_avg_price = sn_stats["Price"].mean()                     # Average price per SN
sn_total_purchase_value = sn_stats["Price"].sum()            # Sum of purchase per SN

top_spender = pd.DataFrame({"Purchase Count": sn_purchase_count,
                            "Average Purchase Price": sn_avg_price,
                            "Total Purchase Value": sn_total_purchase_value})
top_spender.sort_values("Total Purchase Value", ascending=False, inplace = True)
top_spender["Average Purchase Price"] = top_spender["Average Purchase Price"].map("${:.2f}".format)
top_spender["Total Purchase Value"] = top_spender["Total Purchase Value"].map("${:.2f}".format)
top_spender.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [117]:
item_list = purchase_data[["Item ID", "Item Name", "Price"]]                # Retrieve Data

item_group = item_list.groupby(["Item ID", "Item Name"])                    # Group by ID and Item Name

item_count = item_group["Price"].count()                                    # count by item
total_item_price = item_group["Price"].sum()                                # total price of an item
item_price = total_item_price/ item_count                                   # Price per item
popular_item = pd.DataFrame({"Purchase Count": item_count,
                             "Item Price": item_price,
                             "Total Purchase Value": total_item_price})
popular_item.sort_values("Purchase Count", ascending = False, inplace = True)
popular_item["Item Price"] = popular_item["Item Price"].map("${:.2f}".format)
popular_item["Total Purchase Value"] = popular_item["Total Purchase Value"].map("${:.2f}".format)
popular_item.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [122]:
popular_item1 = pd.DataFrame({"Purchase Count": item_count,
                             "Item Price": item_price,
                             "Total Purchase Value": total_item_price})
popular_item1.sort_values("Total Purchase Value", ascending = False, inplace = True)
popular_item1["Item Price"] = popular_item1["Item Price"].map("${:.2f}".format)
popular_item1["Total Purchase Value"] = popular_item1["Total Purchase Value"].map("${:.2f}".format)
popular_item1.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80